@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.main {
  margin: 100px 150px;
  --gray: #B1B5C1;
  --dark2: #131528;
  --dark3: #192243;
  --dark4:#05113B;;
  --primary : #1E50FF;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button_explore {
  background: #1E50FF;
  border-radius: 6px;
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-family: 'Space Grotesk';
  font-size: 18px;
  line-height: 30px;
  border: none;
}


.h1 {
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 90px;
width: 621px;

}
.h2 {
  width: 470px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Space Grotesk';
  color: #B1B5C1;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding: 10px 0;
  height: 220px;
}
.img1 {
  margin-top: 10px;
}
.img_intro {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.banner {
    background: #FFC935;
    height: 146px;
    width: 100%;
    margin-top: 100px;
}
.banner_img {
    width: 100%;
    transform: rotate(2deg);
}
.detail{
    margin-top: 180px;
    display: flex;
    justify-content: space-between
}
.detail_title {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
}
.detail_description {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--gray);
  margin-top: 16px;
}
.time {
  display: flex;
  justify-content:space-between;
  width: 340px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 26px;
}
.detail_time {
  margin-top: 10px;
  padding-top: 5px;
  width: 70px;
  height: 70px;
  background: var(--dark2);
  border-radius: 4px;
}
.detail_time_1 {
  color: var(--gray);
}
.current_bid {
  color: var(--gray);
  margin-bottom: 10px; 
}
.price {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.btn_detail {
  width: 360px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.btn_place_bid {
  width: 165px;
  height: 60px;
  background-color: var(--primary);
  border: none;
  color: white;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.btn_view_art {
  color: white;
  width: 165px;
  height: 60px;
  background-color: var(--dark2);
  border: none;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.vertical_line {
  border: 2px solid var(--dark2);
  height: 470px;
}

/* nft collection */
.collection {
  margin-top: 160px;
}
.collection_heading {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  margin-left: 40px;
}
.collection_des {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--gray);

}
.card {
  display: flex;
  margin-top: 56px;
  justify-content: space-between;
  flex-wrap: wrap;

}
.nft_card {
  background: var(--dark2);
  border-radius: 12px;
  width: 370px;
  height: 620px;
  padding: 20px 20px;
  margin-bottom: 40px;
}
.nft_card:hover {
  border: 1px solid var(--primary);
 
}
.nft_img {
  width: 330px;
  height: 428px;

}
.nft_name {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin-top: 18px;
}
.nft_author {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--gray);
  margin-top: 2px;
}
.nft_info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.info_name {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}

.info_detail {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  
}
.view_more {
  text-align: center;
  margin-top: 20px;
}
.btn_view_more {
  width: 159px;
  height: 60px;
  background: var(--primary);
  border-radius: 6px;
  border: none;
  color: #FFFFFF;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
/* category */
 
.category {
  margin-top: 150px;
} 
.category_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.category_title h2 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
}
.nft_category {
  display: flex;
  justify-content: space-between;
}
.card_category {
  width: 270px;
  height: 334px;
  background: var(--dark2);
  border-radius: 12px;
  padding: 20px 20px;
}
.card_category:hover {
  border: 1px solid var(--primary);
}
.category_img {
  width: 230px;
  height: 230px;
}
.btn_category {
  width: 230px;
  height: 44px;
  margin-top: 14px;
  background: var(--dark3);
  border-radius: 6px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  border: none;
  color: white;
}
.btn_arrow {
   width: 108px;
   display: flex;
   justify-content: space-between;
}
.btn_left {
  width: 44px;
  height: 44px;
  background-color: var(--dark2);
  border: none;
  color: white;
}
.btn_right {
  width: 44px;
  height: 44px;
  background-color: var(--primary);
  border: none;
  color: white;
}
.top_collection {
  margin-top:150px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.top_collection h3 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
}
.btn_choose_collection {
  width: 540px;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.btn_choose {
  width: 170px;
  height: 60px;
  background: var(--dark2);
  border-radius: 6px;
  border:none;
  color: #FFFFFF;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}
.btn_choose:focus {
  background: var(--primary);
}
.card_collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card_collection {
  width: 370px;
  height: 94px;
  background: var(--dark2);
  border-radius: 12px;
  display: flex;
  justify-content:space-between;
  padding: 20px 20px;
  align-items: center;
  margin-bottom: 40px;
}
.collection_info {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.collection_info h4 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.collection_info p {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.avatar {
  margin-right: 10px ;
}
.collection_percent {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #56BD83;
}

.btn_view_collection {
  width: 238px;
  height: 60px;
  background: var(--primary);
  border-radius: 6px;
  border: none;
  color: #FFFFFF;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}
.artist {
   margin-top: 150px;
   
}
.nft_artist {
  display: flex;
  justify-content: space-between;
}
.card_artist {
  width: 370px;
  height: 264px;
  background: var(--dark2);
  border-radius: 12px;
  padding: 20px 20px;
}
.artist_img {
  width: 330px;
height: 150px;
border-radius: 6px;
}
.artist_info {
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}
.artist_info h4 {
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
}
.artist_info p {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}
.btn_artist {
  width: 97px;
  height: 44px;
  background: var(--primary);
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  border: none;
}
.btn_view_artist {
  display: flex;
  justify-content:center;
  margin-top: 40px;
}
.help_title h3 {
  text-align: center;
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;
margin-top: 160px;
margin-bottom: 50px;
}
.help {
  display: flex;
  justify-content: space-between;
}
.card_help {
  background: var(--dark4);
  border-radius: 12px;
  width: 370px;
  height: 326px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px;
}
.card_help h4 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.card_help p {
  font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: var(--gray);
}
.help_img {
  width: 85px;
  height: 64px;
}
.community {
  margin-top: 250px;
  height: 428px;
  border-radius: 12px;
  text-align: center;
  padding: 20px 60px;
  background: var(--dark4);
}
.community h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 10px;
}
.community p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--gray);
  margin-bottom: 20px;
}
.community_img {
  width: 250px;
  height: 180px;
}
.btn_community {
  width: 172px;
  height: 60px;
  background: var(--primary);
  border-radius: 6px;
  border: none;
  color: #FFFFFF;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  }
